@model IEnumerable<HumanResources.UI.ViewModels.IndexEmployeesRecordViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Employees</h2>

<p>
    @Html.ActionLink("Register New", "Register")
</p>
<table>
    <tr>
        <th>
            FullName
        </th>
        <th>
            Department
        </th>
        <th>
            Holiday Entitlement
        </th>
        <th>
            Total Holidays
        </th>
        <th>
            Remaining Holidays
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Department)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HolidayEntitlement)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalHolidays)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RemainingHolidays)
        </td>
        <td>
            @Html.ActionLink("Show Holidays", "Index", "Holiday", new { employeeId = item.Id }, null) | 
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Mark As Left", "MarkAsLeft", new { id=item.Id })
        </td>
    </tr>
}

</table>
