<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Finance.css")" rel="stylesheet" type="text/css" >
    </link>
    @RenderSection("Links", false)
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.17.custom.min.js")" type="text/javascript"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Finance.js")"></script>
    @RenderSection("JavaScript", false)
</head>
<body style="background-color:mediumslateblue; padding: 0px 20px 20px 20px;">
    <h1 style="color: white;">
        Finance</h1>
    <div style="background-color: white; padding: 20px;">
        @RenderBody()
    </div>
</body>
</html>