@model Sales.UI.ViewModels.BookVisitViewModel

@{
    ViewBag.Title = "Book";
}

<h2>Log Visit</h2>

@using (Html.BeginForm("Book", "Visit"))
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.LeadId)

    <div class="editor-label">
        @Html.LabelFor(model => model.Start)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Start)
        (dd/mm/yyyy hh:mm:ss)
        @Html.ValidationMessageFor(model => model.Start)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.End)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.End)
        (dd/mm/yyyy hh:mm:ss)
        @Html.ValidationMessageFor(model => model.End)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.ConsultantId)
    </div>
    <div class="editor-field">
        @Html.DropDownListFor(model => model.ConsultantId, Model.Consultants, "[Please Select...]")
        @Html.ValidationMessageFor(model => model.ConsultantId)
    </div>

    
    <p>
        <input type="submit" value="Create" />
    </p>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
