@model Sales.UI.ViewModels.IndexVisitsViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Booked Visits for @Model.LeadName</h2>

<p>
    @Html.ActionLink("Book New Visit", "Book", new { leadId = Model.LeadId})
</p>
<table>
    <tr>
        <th>
            Start
        </th>
        <th>
            End
        </th>
        <th>
            Consultant
        </th>
        <th>
            
        </th>
    </tr>

    @foreach (var item in Model.BookedVisits) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Start)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.End)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConsultantName)
            </td>
            <td>
                @Html.ActionLink("Complete", "Complete", new { visitId = item.Id, leadId = Model.LeadId }) 
            </td>
        </tr>
    }

</table>

<h2>Completed Visits for @Model.LeadName</h2>

<table>
    <tr>
        <th>
            Start
        </th>
        <th>
            End
        </th>
        <th>
            Consultant
        </th>
    </tr>

@foreach (var item in Model.CompletedVisits) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Start)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.End)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConsultantName)
        </td>
    </tr>
}

</table>
