@model ClientServices.UI.ViewModels.IndexAgreementsViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Aggreements</h2>

@Html.HiddenFor(model => model.ClientId)
<table>
    <tr>
        <th>
            Commencement
        </th>
        <th>
            Expiry
        </th>
        <th>
            Value
        </th>
        <th>
            Status
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Records) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Commencement)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Expiry)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Cancel", "Cancel", new { agreementId = item.Id, clientId = Model.ClientId }) 
        </td>
    </tr>
}

</table>
