@model Sales.UI.ViewModels.IndexDealsViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Deals for @Model.LeadName</h2>

<table>
    <tr>
        <th>
            Start
        </th>
        <th>
            End
        </th>
        <th>
            MadeByConsultant
        </th>
        <th>
            Value
        </th>
    </tr>

@foreach (var item in Model.Records) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Start)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.End)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MadeByConsultant)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Value)
        </td>
    </tr>
}

</table>
